html {
  box-sizing: border-box;
  color: white;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

/*ELIMINAR*/

p {
  margin: 0;
}

/*ELIMINAR*/

.slides {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: block mandatory;
}

.slide {
  width: 100%;
  height: inherit;
  scroll-snap-align: center;
}

body section:nth-child(even) {
  background-color: green;
}

body section:nth-child(odd) {
  background-color: blue;
}
